.galahad {
  position: relative;
  background-color: white;

  &.selected {
    user-select: none;
  }

  // DataColumn
  .data-column {
    transform-origin: '50% 50% 0px';
    position: absolute;
    width: 100%;
    min-height: 1px;
    background: white;
    transition: border 0.18s ease-in-out, opacity 0.18s ease-in-out;
    border-bottom: 1px solid transparent;
    overflow-x: hidden;

    & .data-cell, & .header-cell {
      // margin-left: -0.05px;
      padding-left: 12px;
      margin-right: 0;
      padding-right: 12px;
    }

    &.selected {
      border-bottom: 1px solid rgba(25, 29, 34, 0.12);
      z-index: 1;

      & .header-cell.draggable {
        cursor: move;
        cursor: -webkit-grabbing;
      }
    }

    &:not(.selected):first-child {
      & .data-cell, & .header-cell {
        padding-left: 24px;
      }
    }

    &:not(.selected):last-child {
      & .data-cell, & .header-cell {
        // margin-left: -0.05px;
        // padding-left: 12px;
        // margin-right: -12px;
        // padding-right: 24px;
      }
    }

    &.outside-dragging-group {
      opacity: 0.55;
    }
  }

  // DataCell
  .data-cell {
    height: 60px;
    border-bottom: 1px solid rgba(25, 29, 34, 0.12);
    border-right-width: 0px;
    border-left-width: 0px;
    overflow: hidden;

    &.expanded {
      height: 84px;
    }

    &.vertical-lines {
      border-right-width: 1px;
      border-right: 1px solid rgba(25, 29, 34, 0.12);
    }

    &.hovering {
      background-color: rgb(244, 244, 244);
    }

    &.last-row {
      border-bottom: none;
      margin-top: -1px;
    }
  }

  // HeaderCell
  .header-cell {
    display: flex;
    height: 42px;
    padding: 12px;
    border-bottom: 1px solid rgba(25, 29, 34, 0.12);
    border-right-width: 0px;
    border-left-width: 0px;

    &.draggable {
      cursor: move;
      cursor: -webkit-grab;
    }

    &.vertical-lines {
      border-right-width: 1px;
      border-right: 1px solid rgba(25, 29, 34, 0.12);
    }
  }

  .placeloader {
    position: relative;
    border-radius: 3px;
    background: rgba(25, 29, 34, 0.12);
    height: 15px;
    animation: shimmer 3s infinite cubic-bezier(0.65, 0.05, 0.36, 1)
  }
}

@keyframes shimmer {
  0% { opacity: 0.5 }
  25% { opacity: 0.15 }
  50% { opacity: 1 }
  75% { opacity: 0.15 }
  100% { opacity: 0.5 }
}
